/*IMPORTAMOS LA FUENTE DE GOOGLE POPPINS*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap");
.container {
  max-width: 100%;
  /*margin top and bottom 0, margin left and right auto*/
  margin: 0 auto;
  display: grid;
  grid-template-columns: 15px 1fr 15px; }

@media (min-width: 376px) {
  .container {
    grid-template-columns: minmax(15px, 160px) 1fr minmax(15px, 160px); } }
html {
  box-sizing: border-box; }

body {
  margin: 0;
  font: 500 18px/1.5;
  font-family: "Poppins", sans-serif; }

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  font-weight: medium; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  margin: 0; }

p {
  margin: 0; }

input {
  font-family: "Poppins", sans-serif; }

/*HEADER*/
header {
  height: 160px;
  display: grid;
  grid-template-columns: inherit;
  grid-column: 1/4; }

header .navbar {
  grid-column: 2/3;
  display: flex;
  align-items: center; }

header .navbar-logo {
  margin-right: 45px; }

/*HAMBURGUER-BUTTON*/
#nav-visible {
  position: absolute;
  left: -100px;
  top: 0;
  opacity: 0;
  pointer-events: none; }

header .toggle-nav {
  display: none;
  line-height: 0;
  cursor: pointer; }

header .toggle-nav .icon-menu {
  fill: #bfbfbf; }

/*END-HAMBURGUER-BUTTON*/
header .navbar-nav {
  display: flex;
  align-items: center;
  flex: 1;
  font-size: 14px; }

header .navbar-nav a {
  margin-right: 30px;
  text-decoration: none;
  color: #9e9aa7; }

header .navbar-nav a:active {
  color: #3b3054; }

header .btn-login {
  font-size: 16px;
  margin-left: auto; }

header .btn-signup {
  line-height: 1.5;
  font-size: 16px;
  padding: 8px 25px; }

.separator-mobile {
  height: 0; }

@media (max-width: 1439px) {
  header {
    height: 90px; }

  header .toggle-nav {
    display: block; }

  header .navbar {
    justify-content: space-between; }

  header .navbar-nav {
    position: absolute;
    top: 90px;
    left: 15px;
    right: 15px;
    background-color: #3b3054;
    display: flex;
    flex-direction: column;
    padding: 20px 24px 40px;
    border-radius: 9px; }

  header .navbar-nav a {
    padding: 15px 0;
    margin-right: 0;
    font-size: 18px;
    color: white; }

  header .navbar-nav a:active {
    color: #bfbfbf; }

  header .btn {
    align-self: stretch;
    font-weight: 700;
    font-size: 18px; }

  header .btn-login {
    margin-left: 0;
    color: white;
    background-color: transparent;
    margin-bottom: 15px; }

  header .btn-login:active {
    color: #bfbfbf; }

  .separator-mobile {
    background: #bfbfbf;
    height: 1px;
    align-self: stretch;
    margin: 20px 0 30px; }

  #nav-visible:not(:checked) ~ .navbar .navbar-nav {
    display: none; } }
/*END-HEADER*/
/*HELPFUL-BUTTONS-CLASSES*/
.btn {
  font-family: "Poppins", sans-serif;
  border-radius: 30px;
  padding: 18px 40px;
  border: none;
  cursor: pointer;
  font-size: 20px;
  line-height: 1;
  background-color: #2acfcf;
  color: white; }

.btn:active {
  background-color: rgba(42, 207, 207, 0.6); }

.btn-small {
  font-family: "Poppins", sans-serif;
  border-radius: 5px;
  padding: 15px 0px;
  border: none;
  cursor: pointer;
  font-size: 18px;
  line-height: 1;
  background-color: #2acfcf;
  color: white; }

.btn-small:active {
  background-color: rgba(42, 207, 207, 0.6); }

/*END-HELPFUL-BUTTONS-CLASSES*/
/*PRESENTATION*/
.presentation {
  grid-column: 1/4;
  display: grid;
  grid-template-columns: inherit;
  overflow: hidden;
  align-items: center; }

.presentation .welcome-text {
  grid-column: 2/3;
  grid-row: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 60%; }

.presentation .welcome-text > * {
  margin-bottom: 25px; }

.presentation .title {
  font-size: 80px;
  line-height: 1.1; }

.presentation .description {
  display: block;
  max-width: 70%;
  font-size: 18px;
  color: #9e9aa7; }

.presentation .img-working {
  grid-column: 2/4;
  grid-row: 1;
  justify-self: end; }

@media (max-width: 1439px) {
  .presentation .welcome-text {
    grid-row: 2;
    max-width: none;
    align-items: center; }

  .presentation .title {
    font-size: 42px;
    text-align: center;
    margin-bottom: 25px; }

  .presentation .description {
    color: #9e9aa7;
    text-align: center;
    max-width: none;
    margin-bottom: 35px; }

  .presentation .img-working {
    width: 530px;
    padding-left: 15px; }

  .presentation img {
    margin-bottom: 40px;
    margin-left: 160px;
    object-position: 0px 0;
    width: 100%; } }
/*END-PRESENTATION*/
/*Formshort*/
.formshort {
  grid-column: 2/3;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
  margin-top: -25%; }

.formshort form {
  width: 100%;
  grid-column: 2/3;
  background-image: url("../images/bg-shorten-mobile.svg");
  background-repeat: no-repeat;
  background-color: #3b3054;
  border-radius: 15px;
  padding-block: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.formshort form input, .formshort form button {
  margin-left: 0px;
  width: 80%;
  height: 50%;
  border-radius: 5px; }

.formshort form input {
  padding: 10px 20px;
  border: none;
  font-family: "Poppins", sans-serif;
  margin-bottom: 10px;
  font-size: 16px; }

.formshort form button {
  margin-top: 10px;
  font-family: "Poppins", sans-serif;
  border-radius: 10px;
  padding: 18px 60px;
  border: none;
  cursor: pointer;
  font-size: 20px;
  line-height: 1;
  background-color: #2acfcf;
  color: white;
  white-space: nowrap; }

.error {
  border: 2px solid red !important;
}

#error-message {
  display: none;
  color: red;
}

@media (min-width: 376px) {
  .formshort {
    grid-column: 2/3;
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
    margin-top: -5%; }

  .formshort form {
    width: 100%;
    height: 50%;
    grid-row: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-image: url("../images/bg-shorten-desktop.svg");
    background-repeat: no-repeat;
    background-color: #3b3054;
    border-radius: 10px;
    padding-right: 50px;
    padding-block: 35px; }

  .formshort form input, .formshort form button {
    margin-left: 50px;
    width: auto;
    height: auto;
    border-radius: 10px; }

  .formshort form input {
    margin-bottom: 0px;
    padding: 15px;
    border: none;
    width: 100%;
    font-family: "Poppins", sans-serif;
    font-size: 16px; }

  .formshort form button {
    margin-top: 0px;
    font-family: "Poppins", sans-serif;
    padding: auto;
    border: none;
    cursor: pointer;
    font-size: 20px;
    line-height: 1;
    text-align: center;
    background-color: #2acfcf;
    color: white; }

  .btn-sh:active {
    background-color: rgba(42, 207, 207, 0.6); } }
/*LIST-SHORTED-LINK*/
.links-Shortended-List {
  grid-column: 2/3;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: white;
  margin-top: 20px;
  padding: 20px;
  border-radius: 5px; }

.origin-link {
  color: #3b3054;
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  width: 300px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis; }

.separator-short {
  background: #f0f1f6;
  height: 2px;
  align-self: stretch;
  margin: 15px -20px; }

.copy-short-link {
  display: flex;
  flex-direction: column; }

.short-link {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  margin-bottom: 10px; }

.short-link a {
  text-decoration: none;
  color: #2acfcf; }

.short-link-hidden {
  border: 0;
  position: absolute;
  top: -9999px; }

@media (min-width: 376px) {
  #linksShortendedList {
    width: 100%; }

  .links-Shortended-List {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    margin-top: 15px;
    padding: 15px 30px;
    border-radius: 5px; }

  .origin-link {
    color: #3b3054;
    font-size: 18px;
    font-family: "Poppins", sans-serif;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis; }

  .separator-short {
    height: 0; }

  .copy-short-link {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center; }

  .short-link {
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    margin-bottom: 0px;
    margin-right: 25px; }

  .short-link a {
    text-decoration: none;
    color: #2acfcf; }

  .btn-small {
    font-family: "Poppins", sans-serif;
    border-radius: 5px;
    padding: 13px 30px;
    border: none;
    cursor: pointer;
    font-size: 17px;
    line-height: 1;
    background-color: #2acfcf;
    color: white; } }
/*END LIST-SHORTED-LINK*/
/*ADVANCE STATISTICS*/
.background-gray {
  grid-column: 1/4;
  display: grid;
  grid-template-columns: inherit;
  background-color: #f0f1f6;
  margin-top: 150px; }

.benefits {
  grid-column: 2/3;
  display: grid;
  text-align: center;
  font-size: 18px; }

.benefits p {
  color: #9e9aa7; }

.advanced {
  display: flex;
  flex-direction: column;
  padding: 10px;
  align-items: center;
  margin-bottom: 80px; }

.advanced h2 {
  font-size: 30px;
  margin-bottom: 15px; }

.advanced p {
  width: 100%;
  font-size: 16px;
  line-height: 1.6; }

.cards {
  display: grid;
  grid-template-columns: 1fr;
  column-gap: 0px;
  align-items: center;
  margin-bottom: 0px; }

.card {
  border-radius: 6px;
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 80px 30px 40px;
  position: relative;
  text-align: center;
  margin-bottom: 100px;
  align-items: center; }
  .card:not(:last-child)::after {
    content: "";
    position: absolute;
    background-color: #2acfcf;
    width: 8px;
    height: 55px;
    right: auto;
    left: auto;
    top: 100%; }

.image {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background-color: #3b3054;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 0;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%); }

.text h3 {
  font-size: 21px;
  font-weight: 700;
  margin-bottom: 20px; }

.text p {
  font-size: 15px;
  line-height: 1.5; }

@media (min-width: 376px) {
  .advanced {
    display: flex;
    flex-direction: column;
    padding: 30px;
    align-items: center;
    margin-bottom: 80px; }

  .advanced h2 {
    font-size: 40px;
    margin-bottom: 15px; }

  .advanced p {
    width: 48%;
    font-size: 20px; }

  .cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
    align-items: start;
    margin-bottom: 100px; }

  .card {
    border-radius: 6px;
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 80px 30px 40px;
    position: relative;
    text-align: start; }
    .card:nth-child(2) {
      margin-top: 45px; }
    .card:nth-child(3) {
      margin-top: 90px; }
    .card:not(:last-child)::after {
      content: "";
      position: absolute;
      background-color: #2acfcf;
      width: 30px;
      height: 8px; }
    .card:nth-child(1)::after {
      top: 150px;
      right: -30px;
      left: auto; }
    .card:nth-child(2)::after {
      top: 105px;
      right: -30px;
      left: auto; }

  .image {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background-color: #3b3054;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 0;
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(32px, -50%); }

  .text h3 {
    font-size: 21px;
    font-weight: 700;
    margin-bottom: 20px; }

  .text p {
    font-size: 15px; } }
/*end benefits*/
/*START OF BOOST SECTION*/
.boost {
  grid-column: 1/4;
  background-image: url("../images/bg-boost-mobile.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #3b3054;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center; }
  .boost h2, .boost h3 {
    color: white; }

.contain-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center; }
  .contain-text h2 {
    padding-bottom: 20px; }
  .contain-text button {
    padding: 10px;
    border-radius: 25px;
    border: 1px solid #2acfcf;
    background-color: #2acfcf;
    width: 60%; }

@media only screen and (min-width: 376px) {
  .boost {
    background-image: url("../images/bg-boost-desktop.svg");
    height: 250px; } }
/*END OF BOOST SECTION*/
/*START OF FOOTER*/
footer {
  grid-column: 1/4;
  height: 800px;
  color: white;
  background-color: #232127;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  footer img {
    padding-bottom: 10px;
    filter: brightness(0) invert(1); }
  footer h4 {
    padding-top: 30px;
    padding-bottom: 20px; }
  footer li {
    color: #bfbfbf;
    list-style: none;
    padding-bottom: 10px; }
  footer nav {
    text-align: center; }

.final-box {
  padding-top: 40px; }
  .final-box img {
    padding: 0 10px; }

@media only screen and (min-width: 376px) {
  footer {
    flex-direction: row;
    height: 325px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
  footer nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1.8;
        -ms-flex: 1.8;
            flex: 1.8;
    text-align: start;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    padding-top: 70px;
  }
  footer h4 {
    padding-top: 0;
  }
  footer .footer-logo {
    -webkit-box-flex: 1.1;
        -ms-flex: 1.1;
            flex: 1.1;
    padding-top: 70px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  footer .final-box {
    -webkit-box-flex: .85;
        -ms-flex: .85;
            flex: .85;
    padding-top: 70px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

/*END OF FOOTER*/

/*# sourceMappingURL=style.css.map */
