//Colors
//Primary
$Cyan: hsl(180, 66%, 49%);
$DarkViolet: hsl(257, 27%, 26%);
// Secondary
$Red: hsl(0, 87%, 67%);
//Neutral
$Gray: hsl(0, 0%, 75%);
$GrayishViolet: hsl(257, 7%, 63%);
$VeryDarkBlue: hsl(255, 11%, 22%);
$VeryDarkViolet: hsl(260, 8%, 14%);

//Fonts
$Font-Size:18px;
$Font:'Poppins', sans-serif;
$weight1:bolder;
$weight2:medium;

//Imge
$img-principal-width: 300px;
$img-logo-width:120px;

*{
    margin: 0;
    padding: 0;
    font-family: $Font;
    font-weight: $weight2;
}
div{
    width: 375px;
}
.font-principal{
    font-family: $Font;
    font-weight: $weight1;
}
p{
    font-size: $Font-Size;
}
.img-principal{
    width: $img-principal-width;
}
.logo{
    width: $img-logo-width;
}