//Colors
//Primary
$Cyan: hsl(180, 66%, 49%);
$LightCyan: hsla(180, 66%, 49%, 0.6);
$DarkViolet: hsl(257, 27%, 26%);
// Secondary
$Red: hsl(0, 87%, 67%);
//Neutral
$Gray: hsl(0, 0%, 75%);
$GrayishViolet: hsl(257, 7%, 63%);
$VeryDarkBlue: hsl(255, 11%, 22%);
$VeryDarkViolet: hsl(260, 8%, 14%);

//Fonts
$Font-Size:18px;
$Font:'Poppins', sans-serif;
$weight1:bolder;
$weight2:medium;

//Imge
$img-principal-width: 300px;
$img-logo-width:120px;

/*IMPORTAMOS LA FUENTE DE GOOGLE POPPINS*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap');

.container {
    max-width: 1440px;
    /*margin top and bottom 0, margin left and right auto*/
    margin: 0 auto;
    display: grid;
    grid-template-columns: 15px 1fr 15px;
}

@media (min-width: 376px){
    .container{
        grid-template-columns: minmax(15px, 160px) 1fr minmax(15px, 160px);
    }
}

html {
    box-sizing: border-box;
}

body {
    margin: 0;
    font: 500 18px/1.5;
    font-family: $Font;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    font-family: $Font;
    font-weight: $weight2;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
    font-family: $Font;
    margin: 0;
}

p {
    margin: 0;
}

input {
    font-family: $Font;
}

/*HEADER*/
header {
    height: 160px;
    display: grid;
    grid-template-columns: inherit;
    grid-column: 1/4;
}

header .navbar {
    grid-column: 2/3;
    display: flex;
    align-items: center;
}

header .navbar-logo {
    margin-right: 45px;
}

/*HAMBURGUER-BUTTON*/
#nav-visible {
    position: absolute;
    left: -100px;
    top: 0;
    opacity: 0;
    pointer-events: none;
}

header .toggle-nav {
    display: none;
    line-height: 0;
    cursor: pointer;
}

header .toggle-nav .icon-menu {
    fill:  $Gray;
}
/*END-HAMBURGUER-BUTTON*/

header .navbar-nav {
    display: flex;
    align-items: center;
    flex: 1;
    font-size: 14px;
}

header .navbar-nav a {
    margin-right: 30px;
    text-decoration: none;
    color: $GrayishViolet;
}

header .navbar-nav a:active {
    color: $DarkViolet;
}

header .btn-login {
    font-size: 16px;
    margin-left: auto;
}

header .btn-signup{
    line-height: 1.5;
    font-size: 16px;
    padding: 8px 25px;
}

.separator-mobile {
    height: 0;
}

@media (max-width: 1439px) {
    header {
        height: 90px;
    }

    header .toggle-nav {
        display: block;
    }

    header .navbar {
        justify-content: space-between;
    }

    header .navbar-nav {
        position: absolute;
        top: 90px;
        left: 15px;
        right: 15px;
        background-color: $DarkViolet;
        display: flex;
        flex-direction: column;
        padding: 20px 24px 40px;
        border-radius: 9px;
    }
    header .navbar-nav a {
        padding: 15px 0;
        margin-right: 0;
        font-size: 18px;
        color: white;
    }

    header .navbar-nav a:active {
        color:  $Gray;
    }

    header .btn {
        align-self: stretch;
        font-weight: 700;
        font-size: 18px;
    }

    header .btn-login {
        margin-left: 0;
        color: white;
        background-color: transparent;
        margin-bottom: 15px;
    }

    header .btn-login:active {
        color:  $Gray;
    }

    .separator-mobile {
        background:  $Gray;
        height: 1px;
        align-self: stretch;
        margin: 20px 0 30px;
    }

    #nav-visible:not(:checked) ~ .navbar .navbar-nav {
        display: none;
    }
}
/*END-HEADER*/

/*HELPFUL-BUTTONS-CLASSES*/
.btn {
    font-family: $Font;
    border-radius: 30px;
    padding: 18px 40px;
    border: none;
    cursor: pointer;
    font-size: 20px;
    line-height: 1;
    background-color: $Cyan;
    color: white;
}

.btn:active{
    background-color: $LightCyan;
}

.btn-small{
    font-family: $Font;
    border-radius: 10px;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    font-size: 15px;
    line-height: 1;
    background-color: $Cyan;
    color: white;
}
.btn-small:active{
    background-color: $LightCyan;
}
/*END-HELPFUL-BUTTONS-CLASSES*/

/*PRESENTATION*/
.presentation {
    grid-column: 1/4;
    display: grid;
    grid-template-columns: inherit;
    overflow: hidden;
    align-items: center;
}

.presentation .welcome-text {
    grid-column: 2/3;
    grid-row: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 60%;
}

.presentation .welcome-text > * {
    margin-bottom: 25px;
}

.presentation .title {
    font-size: 80px;
    line-height: 1.1;
}

.presentation .description {
    display: block;
    max-width: 70%;
    font-size: 18px;
    color: $GrayishViolet;
}

.presentation .img-working {
    grid-column: 2/4;
    grid-row: 1;
    justify-self: end;
}

@media (max-width: 1439px) {
    .presentation .welcome-text {
        grid-row: 2;
        max-width: none;
        align-items: center;
    }

    .presentation .title {
        font-size: 42px;
        text-align: center;
        margin-bottom: 25px;
    }

    .presentation .description {
        color: $GrayishViolet;
        text-align: center;
        max-width: none;
        margin-bottom: 35px;
    }

    .presentation .img-working {
        width: 530px;
        padding-left: 15px;
    }
    .presentation img {
        margin-bottom: 40px;
        object-position: 0px 0;
        width: 100%;
    }
}
/*END-PRESENTATION*/
/*Formshort*/
.formshort{
    grid-column: 2/3;
    display: grid;
    grid-template-columns: inherit;
    align-items: center;
}
.formshort form{
    margin-bottom: 30px;
    background-image: url("../images/bg-shorten-mobile.svg");
    background-repeat: no-repeat;
    background-color: $DarkViolet;
    border-radius: 15px;
    padding-right: 300px;
    padding-block: 50px;
    align-items: center;
}
.formshort form input, .formshort form button{
    margin-left: 60px;
}
.formshort form input{
    border-radius: 10px;
    padding: 10px 20px;
    border: none;
    width: 198.267px;
}
.btn-sh {
    margin-top: 10px;
    font-family: $Font;
    border-radius: 10px;
    padding: 18px 60px;
    border: none;
    cursor: pointer;
    font-size: 20px;
    line-height: 1;
    background-color: $Cyan;
    color: white;
}
@media (min-width: 376px){
    .formshort{
        display: flex;
        flex-direction: column;
        margin-top: 50px;
        grid-column: 2/3;
    }
    .formshort form{
        width: 100%;
        height: 50%;
        grid-row: 1;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 30px;
        background-image: url("../images/bg-shorten-desktop.svg");
        background-repeat: no-repeat;
        background-color: $DarkViolet;
        border-radius: 10px;
        padding-right: 50px;
        padding-block: 35px;
    }
    .formshort form input, .formshort form button{
        margin-left: 50px;
    }
    .formshort form input{
        border-radius: 10px;
        padding: 15px;
        border: none;
        width: 100%;
        font-family: $Font;
        font-size: 16px;
    }
    .btn-sh {
        margin-top: 0px;
        font-family: $Font;
        border-radius: 10px;
        padding: 15px 60px;
        border: none;
        cursor: pointer;
        font-size: 20px;
        line-height: 1;
        text-align: center;
        background-color: $Cyan;
        color: white;
    }
    .btn-sh:active{
        background-color: $LightCyan;
    }
}

/*LIST-SHORTED-LINK*/
.shortened-links-list-item{
    display: grid;
    grid-template-columns: inherit;
    grid-column: 2/4;
}
.origin-link{
    color: $GrayishViolet;
    font-size: $Font-Size;
    font-family: $Font;
    font-size: 16px;
}
.short-link{
    font-family: $Font;
    font-size: 16px;
}
.short-link a{
    text-decoration: none;
    color: $Cyan;
}

/*Benefits*/
.benefits{
    grid-column: 2/3;
    display: grid;
    text-align: center;
    font-size: 18px;
}
.benefits p{
    color: $GrayishViolet;
}
.advanced {
    padding: 30px;
}
.image{
    background-color: $VeryDarkViolet;
    width: 90px;
    height: 90px;
    border-radius:250px;
    margin: 0px auto;
}
.image img{
    padding: 20px;
}
/*end benefits*/
.boost{
    grid-column: 2/3;
}

footer{
    grid-column: 2/3;
}